.mydiv{
background-image: url("newimg.png");
width: 100%;
height: 100%;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
position : fixed;
overflow: scroll;
}
.row1{
width: 50%;
}
.row2{
 width: 50%;
}
.heading1{
font-family: Segoe Script, cursive;
font-size: 50px;
font-weight: bold;
color: white;
}

.heading2{
font-family: Perpetua;
font-size: 28px;
font-weight: bold;
color: 	#004d4d
}
.heading3{
font-family: MV Boli;
font-size: 18px;
color: 	#004d4d
}
.heading5{
font-family: Century Gothic;
font-size: 18px;
color: #205833;
font-weight: bold
}
.range1{
appearance: slider-horizontal !important;
}
.range1:focus{
    box-shadow:none !important;
}
.btn1{
float:right !important;
background-color: rgb(61, 150, 150);
}
@media only screen and (max-width: 768px) {
.heading1{
font-family: Segoe Script, cursive;
font-size: 22px;
font-weight: bold;
margin-top: 100px;
color: Black !important;
}
.row1{
width: 100%;
}
.row2{
width: 75%;
}
}